{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Available Categories</h2>

    <br />
    
    {% for category in categories %}
        <div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="{% url 'category_details' category.id %}" >{{ category }}</a>
                      <span class="badge badge-primary badge-pill">{{ category.listings.count }}</span>
                    </li>
                </ul>
        </div>
        {% empty %}
            <div><h4>There are currently no categories to display.</h4></div>
    {% endfor %}

{% endblock %}