{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <br />
    
    {% for list in listing %}
        <div>
            <div>
                <img width="60" height="60" src="{{ list.photo.url }}" alt="{{ list.title }}"  />
            </div>
            <div>
                <h5>{{ list.title }}</h5>
                <b>Price: </b>{{ list.startBid }}<br/>
                </b><i>{{ list.description }}</i><br/>
                <b>Listed By: </b>{{ list.user }}
                <br />
                <hr />
                <br />
            </div>
        </div>
        {% empty %}
            <div><h4>No Listing</h4></div>
    {% endfor %}

{% endblock %}